name: check-unit-tests
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install modules
        run: yarn install --frozen-lockfile
      - name: Run tests
        run: yarn test
